/* Add this to your CSS file (e.g., App.css or Navbar.css) */
.nav-link.active {
  background-color: #00ADB5;  /* You can change this to any color you like */
  color: white;
}
  

ReactPlayer {
  height:auto;
}